body 
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main > img
{
    height: 40vh;
    border-right: 1px var(--primary-200) solid;
    padding-right: 10vw;
}

.error-text > a
{
    text-decoration: none;
    margin-top: var(--separation);
}

.error-text h2 {
    color: var(--neutral-400);
}

.error-text
{
    width: 30vw;
}

