main
{
    margin-left: 5vw;
    margin-right: 5vw;;
}

main > article
{
    background-color: var(--neutral-300);
    margin-top: 2vh;
    margin-bottom: 2vh;
}


main > article > div
{
    display: flex;
}

main .services {
    padding: var(--separation);
}

main .services section {
    display: flex;
    gap: var(--separation);
}

main .services img
{
    
    width: 220px;
    object-fit: cover;
    border-radius: var(--border-radius);
}
main .banner
{
    width: 100%;
}