@import url("/css/header.css");
@import url("/css/footer.css");

@font-face 
{
    font-family: Panamera;
    src: url(/assets/fonts/Panamera-Regular.otf);
}

@font-face 
{
    font-family: Panamera;
    src: url(/assets/fonts/Panamera-Bold.otf);
    font-weight: bold;
}

@font-face 
{
    font-family: Panamera;
    src: url(/assets/fonts/Panamera-Light.otf);
    font-weight: lighter;
}

:root 
{
    --primary-50: #DBE4FA;
    --primary-100: #B7C9F5;
    --primary-200: #93ADF0;
    --primary-300: #6F92EA;
    --primary-400: #4B77E5;
    --primary-500: #275CE0;
    --primary-600: #1C4BC0;
    --primary-700: #163C99;
    --primary-800: #112D73;
    --primary-900: #0B1E4D;

    --secondary-50: #FAF5DB;
    --secondary-100: #F5EAB7;
    --secondary-200: #F0E093;
    --secondary-300: #EAD66E;
    --secondary-400: #E5CB4A;
    --secondary-500: #E0C126;
    --secondary-600: #BFA41B;
    --secondary-700: #998316;
    --secondary-800: #736210;
    --secondary-900: #4C420B;

    --success-50: #D9F5E5;
    --success-100: #B3ECCC;
    --success-200: #8CE2B2;
    --success-300: #66D899;
    --success-400: #40CF7F;
    --success-500: #2DB268;
    --success-600: #269457;
    --success-700: #1E7745;
    --success-800: #175934;
    --success-900: #0F3B23;


    --warning-50: #F4F5E4;
    --warning-100: #E9EAC8;
    --warning-200: #DFE0AC;
    --warning-300: #D4D691;
    --warning-400: #C9CB75;
    --warning-500: #BEC15A;
    --warning-600: #A8AB40;
    --warning-700: #878934;
    --warning-800: #656727;
    --warning-900: #43451A;

    --error-50: #FAD4DB;
    --error-100: #F5A9B7;
    --error-200: #F07F94;
    --error-300: #EB5470;
    --error-400: #E7294C;
    --error-500: #C91738;
    --error-600: #A8132F;
    --error-700: #860F25;
    --error-800: #650C1C;
    --error-900: #430813;
    
    --neutral-50: #F6F7FA;
    --neutral-100: #EDEFF5;
    --neutral-200: #E3E7F0;
    --neutral-300: #DADFEA;
    --neutral-400: #D1D7E5;
    --neutral-500: #C8CFE0;
    --neutral-600: #9BA8C7;
    --neutral-700: #6E80AD;
    --neutral-800: #4C5E88;
    --neutral-900: #333E5A;

    /*Fonts sizes*/
    --h1-size: 61px;
    --h2-size: 48.8px;
    --h3-size: 39.1px;
    --h4-size: 31.3px;
    --h5-size: 25px;
    --h6-size: 20px;
    --p-size: 20px;

    /*Border*/
    --border-radius: 25px;

    /*Spacing*/
    --padding: 40px;
    --separation: 20px;
}

* {
    font-family: Panamera;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--p-size);
}
h1,h2,h3,h4,h5,h6 
{
    color: var(--primary-900);
}

h1
{
    font-size: var(--h1-size);

}
h2
{
    font-size: var(--h2-size);
}

h3
{
    font-size: var(--h3-size);
}

h4
{
    font-size: var(--h4-size);
}

h5
{
    font-size: var(--h5-size);
}

h6
{
    font-size: var(--h6-size);
}

p
{
    font-size: var(--p-size);
    color: var(--neutral-900);
}

.card 
{
    border-radius: var(--border-radius);
    background-color: var(--neutral-300);
    border: var(--neutral-900) 1px solid;
    padding: var(--padding);
}

.horizontal-separator 
{
    width: 100%;
    height: 2px;
}
.vertical-separator,
.horizontal-separator
{
    background-color: var(--primary-200);
}